.button {
  display: inline-block;

  padding: 18px 20px;
  margin-right: 0px;
  min-width: 180px;

  background-color: var(--cor-destaque);
  box-shadow: 5px 5px 0 var(--cor-sombra);
  color: var(--cor-fundo);

  font-size: 20px;
  text-decoration: none;
  font-family: inherit;
  text-align: center;

  font-weight: bolder;
  
  transition: transform 0.15s linear;
}

.button:hover {
  transform: scale(1.1);
  border-radius: 0;
}

.button:hover::before {
  content: "";
  background-color: var(--cor-destaque);
}
