.node-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.node-card::before{
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 45px;
  height: 0px;
  width: 40px;
  border: 5px dashed #000;
  transform: rotate(90deg);
}

.node-card .title {
  font-size: 25px;
  font-weight: 400;
  color: #FFF;
  font-family: "Press Start 2P", sans-serif;
  margin-bottom: 50px;
}

.node-card .logo {
  display: flex;
  height: 200px;
  border: 5px solid black;
  background-color: red;
}

