.section {
 padding-top: 50px;
 padding-bottom: 50px;
 background-color: var(--cor-realce);
 border-bottom: 10px solid var(--cor-sombra);
}

.section.-bgvariant {
  background-color: var(--cor-fundo);
  border-bottom: none;
}

.section.-bgvariant.full {
  height: 85vh;
}
.section.variant {
  background-color: var(--cor-fundo);
}
