.skills_page {

display: flex;
flex-direction: column;
justify-content: start;

 background-color: var(--cor-realce);
 height: 300px;
 text-align: center;
 border-bottom: 10px solid var(--cor-sombra);
}

.skills_page .title {
  display: block;
  color: #fff;
  margin-top: 20px;
}

.container_skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  text-align: left;
 
}

.container_skills ul {
  list-style: none;
}